doctype html
html
    head
        meta(charset='utf-8')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        title
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(href='style.css', rel='stylesheet')
        script(src='cards.js')
        script(src='SorterTravelerCards.js')
        script(type='text/javascript').
            var options = {
                selector: 'container',
                itemTag: 'li',
                itemTagClassName: 'list__item'
            };
            var sorter = new Sorter(cards, options);
    body
        .wrapper
            header.header
                h1 Сортировщик карточек путешественника
                // .header
            main.content
                ul#container.list
               // .content
        // .wrapper
        script sorter.run();




