doctype html
html
    head
        meta(charset='utf-8')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        title
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(href='style.css', rel='stylesheet')
    body
        .wrapper
            header.header
                h1 Сортировщик карточек путешественника
                // .header
            main.content
                ul#container.list
               // .content
        // .wrapper
        script(src='SorterTravelerCards.js')




